<h2 mat-dialog-title>About App</h2>
<mat-dialog-content class="mat-typography">
  <h3 style="font-weight: 900">Search</h3>
  <div>
    <ul>
      <li>
        Search the github user. (for ex: <i>subramanyasmg</i>, <i>gurdotan</i>,
        etc)
      </li>
      <li>If available, you can give the star to make your faviourite.</li>
      <li>View more will take you to the details page.</li>
      <li>If not available, you will see the not available icon.</li>
    </ul>
  </div>

  <h3></h3>
  <p></p>

  <h3 style="font-weight: 900">History</h3>
  <div>
    <ul>
      <li>Lists all the github user searched by you.</li>
      <li>You can view more information on clicking the view more button.</li>
      <li>
        You can clear the history of search by clicking the
        <i>Clear History</i> button.
      </li>
    </ul>
  </div>

  <h3 style="font-weight: 900">View More</h3>
  <div>
    <ul>
      <li>
        github user information like
        <ul>
          <li># followers</li>
          <li># following</li>
          <li># Public repos</li>
        </ul>
      </li>
      <li>You can click on star icon to make your faviourite.</li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fine</button>
</mat-dialog-actions>
